{% extends 'base.html' %}

{% block title %}
  Main Menu
{% endblock %}

{% block body %}
  <div class="container">
    <div class="blur-box main-menu-blur">
      <h1>Bilingual Bee</h1>
      <div class="btn-group-vertical" id="main-menu-btn">
        <a class="btn btn-light">Start Quiz</a>
        <a class="btn btn-light" href="{% url 'quizzes' %}">Create Quiz</a>
        <a class="btn btn-light disabled">Achievements</a>
        <a class="btn btn-light disabled">High Scores</a>
      </div>
    </div>
  </div>
{% endblock %}
