{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
</head>
<body class="full-viewport-background">
    <div class="container">
        <div class="blur-box">
            <h1>Bilingual Bee</h1>
            <div class="btn-group">
                <button>Button</button>
                <button>Button</button>
                <button>Button</button>
                <button>Button</button>
            </div>
        </div>
    </div>
</body>
</html>