/* body {
    font-size: 1.2rem;
} */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-viewport-background {
    height: 100%;
    width: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    /* Ensures the image covers the viewport */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
}

.blur-box {
    text-align: center;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);


}

.main-menu-blur {
    background-color: rgba(200, 200, 200, 0.6);
    border-radius: 50px;
    padding: 25px 50px;
    border: 3px solid black;}

.full-viewport-blur {
    padding: 100px;
    background-color: rgba(40, 255, 255, 0.6);
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    /* Horizontally centers the centered-div */
    align-items: center;
    /* Vertically centers the centered-div */
    height: 100%;
    /* Takes the full height of the body */
    width: 100%;
    /* Takes the full width of the body */
}

.btn-group-vertical {
    margin-top: 30px;
}

.btn-group-vertical a {
    margin-bottom: 10px;

}

#yellow-box {
    background-color: yellow;
    height: 100%;
    border: 3px solid black;
    border-radius: 50px;
    padding: 25px 50px;

}

ul {
    list-style-type: none;
}