{% extends 'base_yellow.html' %}

{% block title %}
  {{ quiz.quiz_name }}
{% endblock %}

{% block yellow_content %}
  <h1>{{ quiz.quiz_name }}</h1>

  <form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
      <label for="id_quiz_name">Quiz name:</label>
      {{ quiz.quiz_name }}
    </div>
    <div>
      <label>Questions:</label>
      <table class="table table-bordered table-hover border">
        <thead>
          <tr>
            <th>Select</th>
            <th>Question</th>
            <th>Answer</th>
            <th>Edit</th>
            <th>Hints</th>
          </tr>
        </thead>
        <tbody>
         {% for question in all_questions.all %}
            <tr>
              <td><input type="checkbox" value="{{ question.pk }}" name="question"
                {% if question in quiz.questions.all %}
                  checked="checked"
                {% endif %}
                ></td>
              <td>{{ question.question_text }}</td>
              <td>{{ question.answer_text }}</td>
              <td><a href="{% url 'question_detail' question.pk %}">✎</a></td>
              {% comment %} <label for="{{ question.id_for_label }}">{{ question.choice_label }}</label>
              {{ question.tag }} {% endcomment %}
              <td><a href="{% url 'hints' question.pk %}">✎</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <button type="submit">Save</button>
    </form>
      <a href="{% url 'question_detail' 0 %}">
        <button>Add new question</button>
      </a>
{% endblock %}