{% extends 'base_yellow.html' %}

{% block title %}
  Quizzes
{% endblock %}

{% block yellow_content %}
  <h1>Quizzes</h1>
  <ul>
    {% for quiz in quizzes %}
      <li>
        <a href="{% url 'quiz_detail' quiz.pk %}">{{ quiz.quiz_name }}</a>
      </li>
    {% endfor %}
  </ul>
  <section>
    <h2>Create new quiz</h2>
    <form action="{% url 'quizzes' %}" method="POST">
      {% csrf_token %}
      <ul>{{ form.as_ul }}</ul>
      <button>Add</button>
    </form>
  </section>
{% endblock %}
